
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$w3-blue: #2196F3;
$w3-aqua: #00ffff;
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$mylightgray: #DEDCDB;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
